package ${package_name}.api;

import com.shun.framework.base.BaseServiceMock;
import ${package_name}.dao.mapper.${model}Mapper;
import ${package_name}.dao.po.${model};
import ${package_name}.dao.po.${model}Example;
import org.slf4j.Logger;
import org.slf4j.LoggerFactory;

/**
* User: ${user} <p />
* Time: ${ctime} <p />
* Version: V1.0  <p />
* Description: 当无法从Dubbo 中获取服务室，就从改 Mock 中获取模拟数据，实现 ${model}Service接口 <p />
*/
public class ${model2}ServiceMock extends BaseServiceMock<${model}Mapper, ${model}, ${model}Example> implements ${model2}Service {

    private static Logger _log = LoggerFactory.getLogger(${model2}ServiceMock.class);

}
