<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://code.alibabatech.com/schema/dubbo
                           http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

    <!-- 提供方应用信息，用于计算依赖关系 -->
    <dubbo:application name="cms-core"/>

    <!-- 使用zookeeper注册中心暴露服务地址 -->
    <dubbo:registry address="${dubbo.registry.zookeeper.address}" check="true" subscribe="true" register="true"/>

    <!-- 用dubbo协议在XXXX端口暴露服务 -->
    <dubbo:protocol name="dubbo" port="${dubbo.protocol.port}"/>

    <dubbo:monitor protocol="registry"/>

    <!-- 文章 -->
    <dubbo:service interface="com.shun.cms.api.CmsArticleService" ref="cmsArticle"
                   timeout="${dubbo.service.timeout}"/>

    <!-- 类目 -->
    <dubbo:service interface="com.shun.cms.api.CmsCategoryService" ref="cmsCategory"
                   timeout="${dubbo.service.timeout}"/>

    <!-- 评论 -->
    <dubbo:service interface="com.shun.cms.api.CmsCommentService" ref="cmsComment"
                   timeout="${dubbo.service.timeout}"/>

    <!-- 标签 -->
    <dubbo:service interface="com.shun.cms.api.CmsTagService" ref="cmsTag"
                   timeout="${dubbo.service.timeout}"/>

    <!-- 专题 -->
    <dubbo:service interface="com.shun.cms.api.CmsTopicService" ref="cmsTopic"
                   timeout="${dubbo.service.timeout}"/>

    <!-- 菜单 -->
    <dubbo:service interface="com.shun.cms.api.CmsMenuService" ref="cmsMenu"
                   timeout="${dubbo.service.timeout}"/>

    <!-- 单页 -->
    <dubbo:service interface="com.shun.cms.api.CmsPageService" ref="cmsPage"
                   timeout="${dubbo.service.timeout}"/>

    <!-- 设置 -->
    <dubbo:service interface="com.shun.cms.api.CmsSettingService" ref="cmsSetting"
                   timeout="${dubbo.service.timeout}"/>

    <!-- 系统 -->
    <dubbo:service interface="com.shun.cms.api.CmsSystemService" ref="cmsSystem"
                   timeout="${dubbo.service.timeout}"/>
</beans>
